{% extends "layout.html" %}
{% block content %}
<div class="content-section" style="text-align: center; width: 1000px; margin: 0 auto;">
    <div class="article-metadata"><a class="mr-2">Projekt z Zarządzania Wiedzą</a></div>
    <h2><a class="article-title">DODAJ GATUNEK</a></h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <hr>
    <form method=post>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="gatunek">Gatunek</label>
            <div class="col-sm-10">
                <input id="gatunek" class="form-control" name="gatunek" required="" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="gatunek">Gromada</label>
            <div class="col-sm-10">
                <input id="gromada" class="form-control" name="gromada" required="" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="gatunek">Rodzina</label>
            <div class="col-sm-10">
                <input id="rodzina" class="form-control" name="rodzina" required="" type="text">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="gatunek">Obszar</label>
            <div class="col-sm-10">
                <input id="obszar" class="form-control" name="obszar" required="" type="text">
            </div>
        </div>
        <input type=submit class="btn btn-primary" value="Dodaj gatunek">
    </form>
</div>
{% endblock %}