{% extends "layout.html" %}
{% block content %}
<div class="content-section" style="text-align: center; width: 1000px; margin: 0 auto;">
    <div class="article-metadata"><a class="mr-2">Projekt z Zarządzania Wiedzą</a></div>
    <h2><a class="article-title">DODAJ GATUNEK</a></h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <hr>
    <form method=post>
        {% if form_fields %}
            {% for field_name, field in form_fields.items() %}
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" for="{{ field['id'] }}">{% if field['required'] %}*{% endif %}{{ field_name }}</label>
                    <div class="col-sm-8">
                        {% if field["type"] == "select" %}
                            <select id="{{ field['id'] }}" class="custom-select" name="{{ field['id'] }}" {% if field['required'] %} required="" {% endif %}>
                                {% for option in field['values'] %}
                                    <option value="{{ option }}">{{ option }}</option>
                                {% endfor %}
                            </select>
                        {% elif field["type"] == "str" %}
                            <input id="{{ field['id'] }}" class="form-control" name="{{ field['id'] }}" type="text" {% if field['required'] %} required="" {% endif %}>
                        {% elif field["type"] == "int" %}
                            <input id="{{ field['id'] }}" class="form-control" name="{{ field['id'] }}" type="number" {% if field['required'] %} required="" {% endif %}>
                        {% elif field["type"] == "bool" %}
                            <input id="{{ field['id'] }}" class=form-control-sm" name="{{ field['id'] }}" type="checkbox" {% if field['required'] %} required="" {% endif %}>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <input type=submit class="btn btn-primary" value="Dodaj gatunek">
    </form>
</div>
{% endblock %}