{% extends "layout.html" %}
{% block content %}
    <div class="content-section" style="text-align: center; width: 1000px; margin: 0 auto;">
        <div class="article-metadata"><a class="mr-2">Projekt z Zarządzania Wiedzą</a></div>
        <h2><a class="article-title">STRONA GŁÓWNA</a></h2>
        <p class="article-content">
            <b>Opis projektu:</b> Celem projektu jest stworzenie portalu do wnioskowania gatunków zwierząt na podstawie wybranych cech.
            <b>Autorzy:</b>
            Karol Baranowski WCY19KB2S4
            Wojciech Grzyb WCY19KB2S4
            Patryk Nędzi WCY19KB2S4
        </p>
    </div>
{% endblock %}